version: 2.1

jobs:
  build:
    parallelism: 2
    docker:
      - image: cimg/ruby:3.3.8-node
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
          CACHE_VERSION: 1
    steps:
      - checkout

      - restore_cache:
          keys:
            - node-deps-{{ checksum "package.json" }}

      - run:
          name: Install Node dependencies
          command: npm install

      - save_cache:
          key: node-deps-{{ checksum "package.json" }}
          paths:
            - node_modules

      - restore_cache:
          keys:
            - playwright-browsers-v1-{{ checksum "package.json" }}

      - run:
          name: Install Playwright browsers
          command: npx playwright install chromium --with-deps

      - save_cache:
          key: playwright-browsers-v1-{{ checksum "package.json" }}
          paths:
            - ~/.cache/ms-playwright

      - restore_cache:
          keys:
            - criticalchain-bundle-{{ .Environment.CACHE_VERSION }}-{{ checksum "Gemfile.lock" }}
      - run:
          name: Bundle Install
          command: bundle check || bundle install
      - save_cache:
          key: criticalchain-bundle-{{ .Environment.CACHE_VERSION }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Database setup
          command: bundle exec rake db:schema:load --trace

      - run:
          name: Run rspec with JUnit formatter
          shell: /bin/bash
          command: |
            bundle exec rspec --profile 10 \
                              --format RspecJunitFormatter \
                              --out test_results/rspec.xml \
                              --format progress \
                              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
      - store_test_results:
          path: test_results

      - store_artifacts:
          path: tmp/screenshots
          destination: playwright-screenshots

      - store_artifacts:
          path: tmp/traces
          destination: playwright-traces

      - run:
          name: Security - Brakeman
          command: bundle exec brakeman -q -z --no-pager

      - run:
          name: Security - Bundle Audit
          command: bundle exec bundle-audit check --update

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
