<div class="col-xs-2 offset-md-5 offset-xs-4">
  <%= button_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-dark' do %>
    <%= icon('google fa-lg', 'Login with Google') %>
  <% end %>
</div>
