<div class="columns is-centered mt-6">
  <div class="column is-narrow">
    <%= button_to user_google_oauth2_omniauth_authorize_path,
                  class: 'button is-outlined is-dark',
                  form: { data: { turbo: false } } do %>
      <span class="icon">
        <i class="fa-brands fa-google fa-lg"></i>
      </span>

      <span>Login with Google</span>
    <% end %>
  </div>
</div>
