<div class="buffer-consumption">
  <p class="buffer-label">Current buffer consumption</p>

  <p
    class="buffer-value <%= @estimation.buffer_health_class %>"
    id="buffer_health"
  >
    <%= @estimation.buffer_health %>
  </p>
</div>
