<div class="pure-u-1">
  <%= form_for @estimation, method: :patch do |f| %>
    <p class="h4"><span class="small">Tracking mode</span>
      <%= f.hidden_field :tracking_mode, :value => !@estimation.tracking_mode? %>
      <%= f.button type: :submit, class: 'pure-button button-link' do %>
        <span class="fa fa-lg <%= @estimation.tracking_mode? ? 'fa-toggle-on' : 'fa-toggle-off' %>"></span>
      <% end %>
      </p>
  <% end %>
</div>
