<p>
  <%= form_for @estimation, method: :patch, data: { turbo: false } do |f| %>
    <span class="h4"><span class="small">Tracking mode</span></span>
    <%= f.hidden_field :tracking_mode, :value => !@estimation.tracking_mode? %>
    <%= f.button type: :submit, class: 'btn btn-link toggle-tracking' do %>
      <span class="fa fa-lg <%= @estimation.tracking_mode? ? 'fa-toggle-on' : 'fa-toggle-off' %>"></span>
    <% end %>
  <% end %>
</p>