<table id="results-table">
  <tr class="lead">
    <td class="text-success" id="sum"><%= @estimation.sum %></td>
    <td class="text-muted"><small>+</small></td>
    <td class="text-info" id="buffer"><%= @estimation.buffer %></td>
    <td class="text-muted"><small>=</small></td>
    <td class="text-warning" id="total"><%= @estimation.total %></td>
  </tr>
  <tr class="text-muted text-center">
    <td><small>Sum</small></td>
    <td></td>
    <td><small>Buffer</small></td>
    <td></td>
    <td><small>Total</small></td>
  </tr>
</table>