<div class="columns is-centered">
  <div class="column is-10-desktop is-11-tablet">
    <h1 class="title is-4 mb-4">My Estimations</h1>

    <div id="estimations-index">
      <% if @estimations.any? %>
        <div class="table-container">
          <table class="table is-hoverable is-fullwidth estimations-table">
            <thead>
              <tr>
                <th class="col-estimation-title">Estimation</th>
                <th class="col-estimation-mode has-text-centered">Mode</th>

                <th class="col-estimation-calculation has-text-right">
                  Calculation
                </th>

                <th class="col-estimation-actions has-text-centered"></th>
              </tr>
            </thead>

            <tbody><%= render @estimations %></tbody>
          </table>
        </div>
      <% else %>
        <div class="notification is-light has-text-centered empty-state">
          <p class="is-size-5 mb-2">You don't have any estimations yet.</p>

          <p class="has-text-grey">
            Create your first estimation below to get started!
          </p>
        </div>
      <% end %>
    </div>

    <%= form_for Estimation.new do |f| %>
      <div class="field has-addons mt-4">
        <div class="control is-expanded">
          <%= f.text_field :title, class: 'input', placeholder: 'New estimation title', aria: { label: 'New estimation title' } %>
        </div>

        <div class="control">
          <%= f.submit 'Create estimation', class: 'button is-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
