<%= form_with model: [@estimation, EstimationItem.new], 
             html: { class: 'form-inline' },
             data: { turbo_frame: "_top" } do |f| %>
  <div class="input-group">
    <%= f.number_field :value, class: 'form-control value', placeholder: 'Value', autofocus: true %>
  </div>
  <div class="input-group">
    <%= f.text_field :title, class: 'form-control title', placeholder: 'Item title (optional)' %>

    <div class="input-group-append">
      <%= f.button class: 'btn btn-success', value: 'Add estimation item', type: :submit do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
  </div>
<% end %>
